<h2>Login page</h2>
<form action="" method="POST">
    <p style="color:red"><%= error  %></p>
    User name: <input type="text" name="user-name" placeholder="User name">
    <br>
    Password: <input type="password" name="password" placeholder="Password">
    <br>
    <button type="submit"> Submit</button>
</form>